@model List<ResultMenuTableDto>
@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<style>
    .table-card {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }

    .table-icon {
        font-size: 50px;
        margin-top: 25px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7259/SignalRHub").build();

                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("MenuTableStatus");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveMenuTableStatus", (value) => {
                    console.log(value);
                    let tablehtml = `<div class="row">`;
                    $.each(value, (index, item) => {
                        var statusText = item.status == true ? "Masa Dolu" : "Masa Boş";
                        var color = item.status == true ? "card card-stats card-success" : "card card-stats card-danger";
                        var Icon = item.status ? "la la-battery-full" : "la la-battery-empty"
                        tablehtml += `<div class="col-md-3">
                                                    <div class="${color} table-card">
                                                        <div class="card-body text-center">
                                                            <i class="${Icon} table-icon"></i>
                                                            <div class="numbers">
                                                                <p class="card-category">${item.name}</p>
                                                                <h4 class="card-title">${statusText}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`;
                   

                    });

                    tablehtml += "</div>";
                    $("#statuslist").html(tablehtml);
                });
            });

        </script>



        <h3 class="page-title text-lg-center">Anlık Masa Durumları</h3>

        @* @foreach (var item in Model)
        { *@
        @* if (item.Status == false)
        {
        color = "card card-stats card-danger";
        status = "Masa Boş";
        }
        else
        {
        color = "card card-stats card-success";
        status = "Masa Dolu";
        } *@

        <div id="statuslist">
        </div>

        @*   } *@
    </div>
</div>


