@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>




<div class="content">
    <div class="container-fluid">
        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7259/SignalRHub").build();

                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendStatistic");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveCategoryCount", (value) => {
                    $("#categorycount").text(value);
                });

                connection.on("ReceiveProductCount", (value2) => {
                    $("#ProductCount").text(value2);
                });

                connection.on("ReceiveActiveCategoryCount", (value3) => {
                    $("#ActiveCategoryCount").text(value3);
                });

                connection.on("ReceivePassiveCategoryCount", (value4) => {
                    $("#PassiveCategoryCount").text(value4);
                });

                connection.on("ReceiveProductCountbyCategoryNameDrink", (value5) => {
                    $("#ProductCountbyCategoryNameHamburger").text(value5);
                });


                connection.on("ReceiveProductAvgPriceByHamburger", (value10) => {
                    $("#ProductAvgPriceByHamburger").text(value10);
                });   

                connection.on("ReceiveProductCountbyCategoryNameDrink", (value6) => {
                    $("#ProductCountbyCategoryNameDrink").text(value6);
                });

                connection.on("ReceiveProductAvg", (value7) => {
                    
                    const formattedValue = Number(value7).toFixed(2);
                    const valueWithCurrency = `${formattedValue} ₺`; 

                    $("#ProductAvg").text(valueWithCurrency);
                });

                connection.on("ReceiveProductNamePriceByMax", (value8) => {
                    $("#ProductNamePriceByMax").text(value8);
                });


                connection.on("ReceiveProductNamePriceByMin", (value9) => {
                    $("#ProductNamePriceByMin").text(value9);
                });


                connection.on("ReceiveTotalOrderCount", (value11) => {
                    $("#TotalOrderCount").text(value11);
                });

                connection.on("ReceiveActiveOrderCount", (value12) => {
                    $("#ActiveOrderCount").text(value12);
                });

                connection.on("ReceiveLastOrderPrice", (value13) => {
                    $("#LastOrderPrice").text(value13);
                });

                connection.on("ReceiveTotalMoneyCaseAmount", (value14) => {
                    $("#TotalMoneyCaseAmount").text(value14);
                });


                connection.on("ReceiveMenuTableCount", (value16) => {
                    $("#MenuTableCount").text(value16);
                });




                
                
            });

        </script>

        <h4 class="page-title text-lg-center">Anlık İstatistik Sayfası</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-certificate"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kategori Sayısı</p>
                                    <h4 class="card-title" id="categorycount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ürün Sayısı</p>
                                    <h4 class="card-title" id="ProductCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-play"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Kategori Sayısı</p>
                                    <h4 class="card-title" id="ActiveCategoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-pause"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Pasif Kategori Sayısı</p>
                                    <h4 class="card-title" id="PassiveCategoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-life-bouy"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Hamburger Kategorisi</p>
                                    <h4 class="card-title" id="ProductCountbyCategoryNameHamburger"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bitbucket"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">İçecek Sayısı</p>
                                    <h4 class="card-title" id="ProductCountbyCategoryNameDrink"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-star"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ortalama Ürün Fiyatı</p>
                                    <h4 class="card-title" id="ProductAvg"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-arrow-up"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En Pahalı Ürün</p>
                                    <h4 class="card-title" id="ProductNamePriceByMax"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-arrow-down"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En Ucuz Ürün</p>
                                    <h4 class="card-title" id="ProductNamePriceByMin"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-hand-o-left"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Hamburger Fiyatı</p>
                                    <h4 class="card-title" id="ProductAvgPriceByHamburger"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-building-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Sipariş</p>
                                    <h4 class="card-title" id="TotalOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-calendar-plus-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Sipariş Sayısı</p>
                                    <h4 class="card-title" id="ActiveOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-area-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Son Sipariş Tutarı</p>
                                    <h4 class="card-title" id="LastOrderPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-briefcase"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kasa Toplam Tutar</p>
                                    <h4 class="card-title" id="TotalMoneyCaseAmount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-check-circle"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Bugünkü Kazanç</p>
                                    <h4 class="card-title"> 1500.55 Tl </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-slideshare"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Masa Sayısı</p>
                                    <h4 class="card-title" id="MenuTableCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
