@model UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <div class="card-title"> Rezervasyon Bilgisi Güncelleme Sayfası</div>
        </div>
        <input type="hidden" asp-for="BookingID" />
        <div class="card-body">
            <div class="form-group">
                <label for="Name">Ad Soyad</label>
                <input type="text" class="form-control" asp-for="Name" id="Name" />
            </div>
            <div class="form-group">
                <label for="Mail">Mail Adresi</label>
                <input type="email" class="form-control" asp-for="Mail" id="Mail" />
            </div>
            <div class="form-group">
                <label for="Phone">Telefon:</label>
                <input type="text" class="form-control" asp-for="Phone" id="Phone" />
            </div>
            <div class="form-group">
                <label for="PersonCount">Kişi Sayısı</label>
                <input type="number" class="form-control" asp-for="PersonCount" id="PersonCount" />
            </div>
            <div class="form-group">
                <label for="Date">Rezervasyon Tarihi</label>
                <input type="Date" class="form-control" asp-for="Date" id="Date" />
            </div>

            <div class="card-action">
                <!-- Form gönderme butonu -->
                <button type="submit" class="btn btn-primary">Rezervasyon Bilgisi Güncelle</button>
            </div>
        </div>
    </div>
</form>
